$colorBlack: #2c2d35;
$colorWhite: #f4f6f5;
$colorAbsoluteWhite: #ffffff;

$colorPrimary: #e1ede6;
$colorSecondary: #d4e8d9;
$colorSilent: #86928b;
$colorAccent: #598d66;
$colorDark: #376b44;

$colorPromoPrimary: #eedb6d;
$colorPromoLight: #faeb97;
$colorPromoSecondary: #d9b949;
$colorPromoDark: #a38314;
