@font-face {
  font-weight: 500;
  font-family: Raleway;
  src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: Raleway;
  src: url('../fonts/Raleway-Bold.ttf');
}
