@import 'fonts';
@import 'colors';

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  color: $colorBlack;
  font-family: Raleway;
  font-weight: 500;
}

.primary-btn {
  font-size: 1.125rem;
  color: $colorAccent;
  border: 1px solid $colorAccent;
  background-color: transparent;

  &:hover {
    color: $colorWhite;
    background-color: $colorAccent;
  }

  &:focus {
    background-color: $colorSecondary;
  }

  &:active {
    color: $colorAbsoluteWhite;
    border: 1px solid $colorDark;
    background-color: $colorDark;
  }
}

.tab-btn {
  font-size: 1.125rem;
  padding: 0.62rem 1.25rem;
  color: $colorBlack;
  background-color: $colorSecondary;
  border-radius: 1.25rem;
  border: 1px solid $colorSecondary;

  &:hover {
    color: $colorWhite;
    background-color: $colorAccent;
    border: 1px solid $colorAccent;
  }

  &:focus {
    border: 1px solid $colorAccent;
  }

  &.active {
    color: $colorWhite;
    background-color: $colorDark;
    border: 1px solid $colorDark;
  }
}

.promo-btn {
  font-size: 1.125rem;
  color: $colorBlack;
  background-color: $colorPromoPrimary;
  border: 1px solid $colorPromoPrimary;

  &:hover {
    background-color: $colorPromoLight;
    border: 1px solid $colorPromoLight;
  }

  &:focus {
    background-color: $colorPromoLight;
    border: 1px solid $colorPromoDark;
  }

  &:active {
    background-color: $colorPromoSecondary;
    border: 1px solid $colorPromoSecondary;
  }
}

a {
  color: $colorBlack;
  text-decoration: none;
  &:hover {
    color: $colorAccent;
  }

  &:focus {
    background-color: $colorSecondary;
  }

  &:active {
    color: $colorDark;
  }
}
