@import 'fonts';
@import 'colors';

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: $colorBlack;
  font-family: Raleway;
  font-weight: 500;
}
