@import 'variables';

@mixin container {
  margin: 0 auto;
  max-width: $maxContainerWidth;
  padding: 0 calc($halfGutter / 2);
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  // margin-left: -$halfGutter;
  // margin-right: -$halfGutter;

  > * {
    margin: 0 $halfGutter;
  }
}

@mixin col($size: 0) {
  @if ($size) {
    flex: 0 0 auto;
    width: calc(percentage(calc($size / $columns)) - $gutter);
  } @else {
    flex: 1 0 0%;
  }
}

@mixin hidden() {
  display: none;
}

@mixin visible() {
  display: initial;
}

@mixin start() {
  justify-content: flex-start;
}

@mixin center() {
  justify-content: center;
}

@mixin end() {
  justify-content: flex-end;
}

@mixin between() {
  justify-content: space-between;
}

@mixin around() {
  justify-content: space-around;
}

@mixin top() {
  align-items: flex-start;
}

@mixin middle() {
  align-items: center;
}

@mixin bottom() {
  align-items: flex-end;
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin bp($name) {
  $width: map-get(
    $map: $breakpoints,
    $key: $name
  );
  @include media($width) {
    @content;
  }
}
